body {
  background:rgb(0,0,0);
  background:rgba(0,0,0,.8);
  *background:transparent;
  *filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#BF000000,endColorStr=#BF000000);
  *-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";
  color: #ffffff;
}

.overlay {
  width: 980px;
  height: 1000px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #000;
  opacity: 0.50;
  -moz-opacity: 0.50;
  filter:alpha(opacity=50);
  border: 1px solid #fff;
}

.navbar {
  .navbar-toggle {
    span.icon-bar {
      background: #ffffff;
    }
  }
  a {
    color: #ffffff;
    opacity: 0.4;
    &.active, &:hover {
      opacity: 1;

    }
  }
}

.nav > li {
  position: inherit;
  a:hover, a:focus {
    background-color: inherit;
  }
}

#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #fe4902;
}

.current_item a {
  opacity: 1;
}

