body {
  font-family: 'Lato-Regular';
  background: image-url('bg.png');
  background-repeat: no-repeat;
  color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.navbar {
  .navbar-toggle {
    span.icon-bar {
      background: #ffffff;
    }
  }
  a {
    font-family: 'Lato-Light';
    color: #ffffff;
    opacity: 0.4;
    &.active, &:hover {
      opacity: 1;

    }
  }
}

.nav > li {
  position: inherit;
  a:hover, a:focus {
    background-color: inherit;
  }
}

#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #c44545;
}

.current_item a {
  opacity: 1;
  font-family: 'Lato-Bold';
}

#main-logo{
  float: left;
}

.main-navbar{
  float: right;
  min-width: 710px;
}

.play-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

a.sign-up {
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 7px;
  float: right;
  margin-top: 7px;
  -webkit-transition: border-color 1s ease;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -ms-transition: border-color 1s ease;
  transition: border-color 1s ease;
  &:hover {
    border-color: #c44545;
  }
}
a.find-more {
  font-size: 18px;
  margin: 10px;
  display: block;
}

a, a:hover, a:focus {
  color: #ffffff;
}

.header-text{
  font-family: 'Lato-Hairline';
  font-size: 50px;
  span.highlighted {
    font-family: 'inherit';
    color: #c44545;
  }
}

main {
  background: none;
  margin-top:0px;
}

.footer-content {
  min-height: 100px;
}

.play-content {
  height: 300px;
}

.vertical-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar-brand {
  height: 90px;
}

header {
  margin-top: 20px;
}

.navbar-nav {
  float: left;
}

.navbar-collapse {
  float:left;
}
